.container-contact {
    height: 262px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 22px;
}

.box-contact {
    width: 66.666%;
    background: #FFFFFF;
    box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.name-contact {
    height: 15px;
    margin-block: 36px 40px;
    display: grid;
    place-items: center;
    font-family: Open Sans;
    font-size: 1.143rem;
    font-weight: 700;
    text-align: center;
    color: #007DC8;
}

.container-fields-contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 21px;
    padding-right: 19px;
}

.container-share-contact {
    height: 20%;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

@media only screen and (orientation: landscape) {
    .container-contact {
        height: 54%;
    }
}