.field-contact {
    width: 100%;
    padding: 0 0.5em;
    text-align: right;
    display: flex;
    align-items: center;
}

.container-icon {
    display: inline-block;
    width: 12%;
    height: 1.5em;
}

.icon-field {

}

.header-field {
    width: 23%;
    display: inline-block;
    height: 1.5em;
}

.field {
    overflow: hidden;
    white-space: nowrap;
    width: 65%;
    display: inline-block;
    height: 1.5em;
    text-overflow: ellipsis;
}

.link span {
    border-bottom: 1px solid #007DC8;
}

.link {
}

.link span:active {
    background-color: var(--background-color);
    color: #fff;
    border-radius: 5px;
}


@media only screen and (orientation: landscape) {
    .field-contact {
        width: 50%;
    }
}