.field-contact {
    width: 100%;
    height: 15px;
    margin-bottom: 21px;
    text-align: right;
    display: flex;
    align-items: center;
}

.field-contact-right {
    width: 47.5%;
}

.container-icon {
    display: inline-block;
    height: 15px;
    margin-left: 12.38%;
}

.icon-field {}

.header-field {
    display: inline-block;
    height: 1.5em;
}

.field {
    overflow: hidden;
    white-space: nowrap;
    width: 63%;
    display: inline-block;
    height: 1.5em;
    text-overflow: ellipsis;
}

.link span {
    border-bottom: 1px solid #007DC8;
}

.link {}

.link span:active {
    background-color: var(--background-color);
    color: #fff;
    border-radius: 5px;
}


@media only screen and (orientation: landscape) {
    .field-contact {
        width: 50%;
    }
}