.container-hellow-app {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    animation: hellowApp 2s  1 direction fill-mode;
    animation-name: hellowApp;
    animation-duration: 2s;
    animation-iteration-count: 1;
    transition-timing-function: ease-in-out;
}

.hellow-app {
    width: 100%;
}

@keyframes hellowApp {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}