.container-filter-inputs {
    height: 22%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-evenly;
}

@media only screen and (orientation: landscape) {
    .container-filter-inputs {
        height: 35%;
    }
}
