.search-field {
    width: 68%;
    margin-inline: auto;
    margin-bottom: 26px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    padding: 0 10px;
    height: 29px;
}

.search-field:focus {
    border: 1px solid #2b7da6;
}

.search-field::placeholder {
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    color: #4A4A4A;
}